// Font Family
$GilroyRagular: GilroyRagular;
$GilroyMedium: GilroyMedium;
$GilroyBold: GilroyBold;

// Colors ---------------
$white: #ffffff;
$black: #000;
$black-paragraph: #333;
$soft-black: #43424D;
$grey:#f9fbf7;
$theme-color: #82CA21;
$body-text-color: #666;
$testimonial-text-color: #828282;
$star-background: #F2F9FF;
$inActive-star-color: #D1D1D1;
$hr-border-color:#1B2E55;
$copy-text-border: #C1C1C1;
$copy-text-color: #717171;
$input-border:#ABABAB;
$logo-text-color:#707070;
$placeholoder-clolor:#9CA8C1;
$social-icon-background:linear-gradient(0deg, #AAB2D6, #BFC3D7);  
$transparent-clolor:transparent; 




// box shadow
$box-shadow:#707070;
$box-shadow-arrow:#a59797;  


// Heading Color
$heading-color: #1B2E55;
 
// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 480px) and (max-width: 767px)';

